<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Contact Parents</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container-btns">
      <div class="mainContainer">
        <h2 style="text-align: center;">Choose the medium of communication to Parents</h2>
        <div class="actions" style="margin-top: 10em;">
          <button (click)="openEmail()" mat-raised-button color="primary">
            <mat-icon>mail</mat-icon>Email
          </button>
          <button (click)="openPhone()" mat-raised-button color="primary">
            <mat-icon>phone</mat-icon>Phone
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
