<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Admin-Profile</div>
  <div class="page__content shadow p-3 position-relative">
   <div class="container-btns">

    <div *ngIf="!isLoading">
      <div class="profile-form-box" >


        <div>
          <mat-form-field hintLabel="Max 20 characters" appearance="fill" [formGroup]="adminprofileform">
            <mat-label style="color: #3F51B5;">Name</mat-label>
            <input matInput  maxlength="20" formControlName="adminname" placeholder="name" style="color: black;" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field  appearance="fill" [formGroup]="adminprofileform">
            <mat-label style="color: #3F51B5;">Contact Number</mat-label>
            <input matInput maxlength="20" formControlName="admincontact" placeholder="contactno" value="Address" style="color: black;">
          </mat-form-field>
        </div>

      </div>

      <div class="profile-form-box">
        <div >
          <mat-form-field  appearance="fill" [formGroup]="adminprofileform">
            <mat-label style="color: #3F51B5;">Email Id</mat-label>
            <input matInput #input maxlength="20" formControlName="adminemail" placeholder="emailid" required style="color: black;">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field  appearance="fill" [formGroup]="adminprofileform">
            <mat-label style="color: #3F51B5;">Admin Id</mat-label>
            <input matInput maxlength="20" formControlName="adminpswd" placeholder="contactno" required style="color: black;">
          </mat-form-field>
        </div>

      </div>





        <div class="profile-form-box">
          <div>
            <mat-form-field appearance="fill" [formGroup]="adminprofileform" style="width: 70%;">
              <mat-label style="color: #3F51B5;">Address</mat-label>
              <textarea matInput formControlName="adminaddress" required value="afsadf" style="color: black;"></textarea>
            </mat-form-field>
          </div>

        </div>



      <div class="profile-form-submit-btn">
        <button mat-raised-button color="primary" *ngIf="!isEditMode" (click)="toggleEditMode()" >Edit Profile</button>
        <button mat-raised-button color="primary" *ngIf="isEditMode" (click)="updateProfile()" >Save details</button>
      </div>

    </div>

   </div>
  </div>
</div>
