<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Calendar</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container-btns" *ngIf="!isLoading">
      <div class="Calendar-box" *ngIf="!isLoading">
        <div class="Calendar" style="min-width: 50%">
          <mat-calendar
            [dateClass]="dateClass"
            (selectedChange)="onDateSelection($event)"
          >
          </mat-calendar>
        </div>

        <div *ngIf="!isLoading">
          <div *ngFor="let exam of currentView" class="cardContainer">
            <mat-card>
              <mat-card-title>{{ exam.name }}</mat-card-title>
              <mat-card-subtitle>
                Exam Date

                <div *ngIf="selectedDate">
                  <h3>{{ selectedDate | date }}</h3>
                  <p>Details Date {{ detailsdate }}</p>
                </div>
              </mat-card-subtitle>

              <mat-card-content>
                <p>
                  Description: 
                  {{ exam.desc }}
                </p>
                <p>
                  City:
                  <br />
                  {{ exam.city }}
                </p>
                <p>
                  State:
                  <br />
                  {{ exam.state }}
                </p>
                <p>
                  PostalCode:
                  <br />
                  {{ exam.postalcode }}
                </p>
              </mat-card-content>
            </mat-card>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
