<div class="text-center"><h2>Welcome to Student Information System</h2></div>
<div class="log-form">
    <h2>Login to Student account</h2>
    <div id="student-login-error"></div>
    <form>
      <input type="text" title="Email" id="email" name="email" [(ngModel)]="model.email" placeholder="Enter email"/>
      <input type="password" title="username" id="password" name="password" [(ngModel)]="model.password" placeholder="password"/>
      <button type="submit" class="btn" (click)="logInUser()">Login</button>
    </form>
  </div><!--end log form -->
