<mat-dialog-content>
  <hr />
  <div class="form">
    <mat-form-field class="full-width" [formGroup]="examform">
      <mat-label>Exam Name</mat-label>
      <input
        matInput
        placeholder="Exam Name"
        formControlName="name"
        required=""
      />
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="examform">
      <mat-label>Venue</mat-label>
      <textarea
        formControlName="address"
        matInput
        placeholder="Venue of Exam"
        required=""
      ></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="examform">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="desc"
        matInput
        placeholder="Description of Exam"
        required=""
      ></textarea>
    </mat-form-field>

    <mat-form-field [formGroup]="examform">
      <mat-label>Date</mat-label>
      <input
        formControlName="date"
        matInput
        type="datetime-local"
        required=""
      />
    </mat-form-field>
    <!-- <span *ngIf="originalDate">Original Date: {{ originalDate }}</span> -->

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [formGroup]="examform">
            <mat-label>City</mat-label>
            <input
              formControlName="city"
              matInput
              placeholder="Chennai"
              required=""
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" [formGroup]="examform">
            <mat-label>State</mat-label>
            <input
              formControlName="state"
              matInput
              placeholder="TamilNadu"
              required=""
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" [formGroup]="examform">
            <mat-label>Postal Code</mat-label>
            <input
              formControlName="postalcode"
              matInput
              maxlength="6"
              placeholder="211004"
              required=""
            />
            <!-- <mat-hint align="end">{{ examDetails.zip.length }} / 6</mat-hint> -->
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <hr />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    (click)="add()"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Add
  </button>
</mat-dialog-actions>
