<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Navigation</h2>

  <div>
    <a
      *ngIf="isAdmin"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="students"
    >
      <mat-icon>supervised_user_circle</mat-icon>Students
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="calendar">
      <mat-icon>calendar_today</mat-icon> Calendar
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="exam"
    >
      <mat-icon>E</mat-icon> Exams
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="contact" *ngIf="isAdmin">
      <mat-icon>phone</mat-icon> Contact Parents
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="profile">
      <mat-icon>account_circle </mat-icon> Profile Page
    </a>
  </div>
</mat-nav-list>
